<a href="https://colab.research.google.com/github/mehta-ji/learnPyspark/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark= SparkSession.builder.appName("test").getOrCreate()

In [8]:
spark

In [9]:
import pandas as pd

In [11]:
df= spark.createDataFrame(pd.read_csv("http://bit.ly/drinksbycountry"))

In [12]:
df.show()

+-----------------+-------------+---------------+-------------+----------------------------+-------------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|    continent|
+-----------------+-------------+---------------+-------------+----------------------------+-------------+
|      Afghanistan|            0|              0|            0|                         0.0|         Asia|
|          Albania|           89|            132|           54|                         4.9|       Europe|
|          Algeria|           25|              0|           14|                         0.7|       Africa|
|          Andorra|          245|            138|          312|                        12.4|       Europe|
|           Angola|          217|             57|           45|                         5.9|       Africa|
|Antigua & Barbuda|          102|            128|           45|                         4.9|North America|
|        Argentina|          193|             25|          221|                         8.3|South America|
|          Armenia|           21|            179|           11|                         3.8|       Europe|
|        Australia|          261|             72|          212|                        10.4|      Oceania|
|          Austria|          279|             75|          191|                         9.7|       Europe|
|       Azerbaijan|           21|             46|            5|                         1.3|       Europe|
|          Bahamas|          122|            176|           51|                         6.3|North America|
|          Bahrain|           42|             63|            7|                         2.0|         Asia|
|       Bangladesh|            0|              0|            0|                         0.0|         Asia|
|         Barbados|          143|            173|           36|                         6.3|North America|
|          Belarus|          142|            373|           42|                        14.4|       Europe|
|          Belgium|          295|             84|          212|                        10.5|       Europe|
|           Belize|          263|            114|            8|                         6.8|North America|
|            Benin|           34|              4|           13|                         1.1|       Africa|
|           Bhutan|           23|              0|            0|                         0.4|         Asia|
+-----------------+-------------+---------------+-------------+----------------------------+-------------+
only showing top 20 rows